{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow border-0 p-4">

                <h2 class="text-center mb-4">
                    Add New Task
                </h2>

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text"
                               name="title"
                               class="form-control"
                               placeholder="Enter task title"
                               required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Priority</label>
                        <select name="priority" class="form-control">
                            <option value="low">Low</option>
                            <option value="medium" selected>Medium</option>
                            <option value="high">High</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Due Date</label>
                        <input type="date"
                               name="due_date"
                               class="form-control">
                    </div>

                    <button type="submit"
                            class="btn btn-primary w-100">
                        Save Task
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}