{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-4">

        <h3>Delete Task</h3>

        <p>
            Are you sure you want to delete:
            <strong>{{ task.title }}</strong>?
        </p>

        <form method="POST">

            {% csrf_token %}

            <button type="submit"
                    class="btn btn-danger">
                Yes Delete
            </button>

            <a href="{% url 'all_tasks' %}"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}