{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow border-0 p-4">

                <h2 class="text-center mb-4">
                    Create Account
                </h2>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text"
                               name="username"
                               class="form-control"
                               placeholder="Enter Username"
                               required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email"
                               name="email"
                               class="form-control"
                               placeholder="Enter Email"
                               required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password"
                               name="password1"
                               class="form-control"
                               placeholder="Enter Password"
                               required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input type="password"
                               name="password2"
                               class="form-control"
                               placeholder="Confirm Password"
                               required>
                    </div>

                    <button type="submit"
                            class="btn btn-success w-100">
                        Register
                    </button>

                </form>

                <div class="mt-3 text-center">

                    <p class="mb-0">
                        Already have an account?
                        <a href="{% url 'login' %}"
                           class="fw-bold text-primary text-decoration-none">
                            Login here
                        </a>
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}